.logo {
    width: 120px;
    height: 31px;
    background: #ddd url(https://dss0.bdstatic.com/5aV1bjqh_Q23odCf/static/superman/img/logo_top-e3b63a0b1b.png);
    margin: 16px 24px 16px 0;
    float: left;
    background-size: cover;
  }